.navBar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 66px 0px 24px 0px;
    margin: 0px 132px;
    border-bottom: 2px solid lightgrey;
}

.navData {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.navBar div {
    float: left;
}

.navArrow {
    display: grid;
    justify-content: right;
    grid-template-columns: auto auto;
    margin-right: 0px;
}

.navArrow img {
    margin-left: 12px;
}

.navItems {
    border-right: 2px solid lightgrey;
    padding-right: 24px;
    height: 49px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:24px;
    color:#616161;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
    
}

.navSort {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color:#a3a3a3;
    letter-spacing: -0.15px;
    line-height: 48px;
    text-align:center;
    background:#ededed;
    border-radius: 100px;
    width: 172px;
    height: 48px;
    margin: 0px 15px;
}

.sortBy {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:24px;
    color:#a3a3a3;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
    margin: 0px 15px;
}