.container {
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-template-rows: 288px;
    justify-content: space-between; 
    margin: 42px 132px 0px 132px;
    padding: auto;
}

.paraquecomplete {
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
}

.acordar {
    grid-template-columns: 288px 288px 288px 288px;
    max-width: 1176px;
}