.product {
  width: 276px;
  height: 276px;
  background:#ffffff;
  box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
  position: relative;
}

.product:hover {
  animation: change 0.1s linear forwards
}

@keyframes change {
  100% {
    transform: translateY(-12px)
  }
}

@-webkit-keyframes change {
  100% {
    transform: translateY(-12px)
  }
}

@-moz-keyframes change {
  100% {
    transform: translateY(-12px)
  }
}


.upperCard {
  height: 182px;
  width: 252px;
  margin: 12px auto 0px auto;
}

.productImg {
  max-width: 250px;
  max-height: 182px;
  margin: 0px auto;   
  display: block;
}

.buyIcon {
  position: absolute;
  top: 12px;
  right: 12px;
}

.lowerCard {
  border-top: 1px solid #d9d9d9;
  margin: 0px 24px 12px 24px;
}

.lowerCard h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
  color:#616161;
  letter-spacing:-0.04px;
  text-align:left;
  margin-top: 0.5px;
}

.lowerCard h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:16px;
  color:#a3a3a3;
  letter-spacing:-0.04px;
  text-align:left;
  margin-bottom: 0.5px;
}

.priceHover {
  position: absolute;
  background-image: linear-gradient(-180deg, rgb(10,212,250,0.80) 0%, rgb(37,187,241,0.80) 100%);
  width:276px;
  height:276px;
  z-index: 1;
  animation: fadein 0.1s ease-in alternate ;
  animation-iteration-count: 1;
  box-shadow:10px 10px 10px 0 rgba(0,0,0,0.10);
}


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100%; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100%; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100%; }
}

.price {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 90px auto;
  grid-template-areas: 
  'header header'
  'redeem redeem';
}

.price h1 {
  justify-self: end;
  align-self: baseline;
  margin: 0 10px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:36px;
  color:#ffffff;
  letter-spacing:-0.08px;
  text-align:center;
}

.price img {
  align-self: flex-end;
  margin-bottom: 3px;
}

.redeemButton {
  background:#ffffff;
  width:228px;
  height:42px;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color:#616161;
  letter-spacing:-0.04px;
  grid-area: redeem;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px
}

.redeemButton h2 {
  margin: auto;
}

.priceWarning {
  background:rgb(97,97,97,0.8);
  border-radius: 100px;
  width: 142px;
  height: 42px;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  font-family: 'Source Sans Pro', sans-serif; 
  font-size:14px;
  color:#ffffff;
  letter-spacing:-0.03px;
  text-align:right;
}

.priceWarning img {
  margin-top: 2px;
  width: 25px;
  height: 25px;
}
